<%= form_for @topic do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :last_poster_id %><br />
    <%= f.number_field :last_poster_id %>
  </p>
  <p>
    <%= f.label :last_post_at %><br />
    <%= f.datetime_select :last_post_at %>
  </p>
  <p><%= f.submit %></p>
<% end %>
